/*  your css code here. If applicable */
.container{
	
	padding:10px;
	display:inline;
	background-color:rgb(211,211,211);
	
}
li{
	margin-right:16px;
	list-style:none;
	
}
ul{
/* 	background-color:rgb(211,211,211); */
	display:flex;
}
